@import "../variables";

.header,
.header-home {
  background-color: $primary;
  @supports (position: sticky) {
    position: sticky;
    top: -52px;
    z-index: 10;
  }

  .heads {
    width: 100%;

    &:first-of-type {
      background-color: $color-bright;

      & > div > span {
        font-size: 1.5rem !important;
        margin: 0 0 0 1rem;
        vertical-align: top;
      }
    }

    &:last-of-type {
      border-bottom: $border-width solid $border-color-bright;
      background-color: $primary;
      background: rgb(41, 5, 20);
      background: $lower-header-bg
    }

    @media (max-width: $md - $diff) {
      .nav-container {
        visibility: hidden;
        max-height: 0;
        opacity: 0;
        transition: all linear $trans-time;
        overflow: hidden;
      }
    }

    .nav-link {
      padding: 0.7rem 1rem;
      color: white;
      text-decoration: none;
      @media (max-width: $md - $diff) {
        margin-top: -20px;
        transition: margin-top $trans-time linear;
        border-bottom: $border-width solid $border-color-bright;
      }

      @media (min-width: $md) {
        &.active {
          position: relative;
          &::after {
            content: "";
            width: 100%;
            bottom: -1px;
            left: 0;
            position: absolute;
            height: 4px;
            background-color: $color-bright;
            border-radius: 3px 3px 0 0px;
            display: block;
          }
        }
      }

      &.active,
      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.3);
      }
    }
  }
}

.header-home {
  top: 100vh;
}
