$primary: #3d1928;
$blue: #2f7ef5;
$red: #ff0055;
$green: #0db365;
$color-bright: #ffffff;
$color-fair: #666666;
$color-dark: #000000;
$color-alt: #c4c3c3;
$color-alt-2: #e1e1e1;
$link-color-alt: $color-alt-2;
$mute: #969595;
$border-color: rgba(0,0,0,.1);
$border-color-bright: rgba(250,250,250,.1);

$trans-time: .4s;

$border-width: 1px;

$sidebar-width: 350px;
$font-size-sm: .85rem;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$diff: .02px;
