@import "./variables";

$btn-focus-shadow: 0 0 0 0.2rem;
$colors: (
  theme: $primary,
  primary: $blue,
  danger: $red,
  success: $green,
);
$btn-names: (theme, primary, success, danger);

@mixin buttons($color) {
  background-color: $color;
  color: $color-bright;

  &:hover {
    background-color: darken($color: $color, $amount: 10%);
  }

  &:focus,
  &.focus {
    background-color: darken($color: $color, $amount: 10%);
    box-shadow: $btn-focus-shadow lighten($color: $color, $amount: 5%);
  }
}

.button {
  display: inline-block;
  // font-family: $btn-font-family;
  font-weight: 500;
  color: $color-dark;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: $border-width solid transparent;
  border-radius: 0.25rem;
  padding: 0.4rem 1rem;
  // @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  // @include transition($btn-transition);
  transition: all ease $trans-time;

  &.button-theme {
    $color: map-get($map: $colors, $key: theme);
    @include buttons($color);
  }

  &.button-danger {
    $color: map-get($map: $colors, $key: danger);
    @include buttons($color);
  }

  &.button-success {
    $color: map-get($map: $colors, $key: success);
    @include buttons($color);
  }

  &.button-primary {
    $color: map-get($map: $colors, $key: primary);
    @include buttons($color);
  }

  &.button-large {
    width: 70%;
  }

  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.2);
    transition: all ease $trans-time;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-shadow $color-fair;
  }

  &.disabled,
  &:disabled {
    opacity: 0.65;
    box-shadow: none;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    box-shadow: inset 0 3px 5px rgba($color-dark, 0.125);

    &:focus {
      *box-shadow: $btn-focus-shadow $color-dark;
    }
  }
  &.link {
    text-decoration: none;
  }
}

a.button.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}
