@import "./variables";

.card {
  $border-radius: 15px;
  $offset: 150px;
  background-color: transparent;
  width: 18rem;
  max-width: 21rem;
  position: relative;
  margin: 10px 10px 10px 29.2px;

  &::before {
    content: "";
    background-color: rgb(124, 50, 50);
    width: 18rem;
    max-width: 19rem;
    display: block;
    height: 300px;
    border-radius: $border-radius;
    box-shadow: 10px 10px 16px rgba($color: #000000, $alpha: .3), -15px -15px 15px rgba($color: #ffffff, $alpha: 1);
  }

  &:hover .card-meta {
    box-shadow: 5px 5px 16px rgba($color: #000000, $alpha: .4), -5px -5px 16px rgba($color: #000000, $alpha: .4);
    transition: box-shadow ease-in .4s;
  }

  .card-meta {
    width: 18rem;
    max-width: 21rem;
    background-color: #ffffff;
    color: #000000;
    border-radius: $border-radius;
    display: block;
    overflow: hidden;
    border: $border-width solid $border-color;
    margin: -17.75rem 0 0 -1.2rem;
    z-index: 10;

    .card-image {
      background-repeat: no-repeat;
      background-size: 18rem 150px;
      background-clip: content-box;
      width: 100%;
      height: 150px;
      overflow: hidden;
    }
  }

  .card-content {
    width: 18rem;
    max-width: 21rem;
    color: $link-color-alt;
    border-radius: $border-radius;
    font-size: $font-size-sm;
    display: inline-block;
    background-color: transparent;
    margin-top: -.35rem;
    z-index: 1;

    & > .content {
      line-height: 1.5rem;
      height: 5rem;
    }
  }
}
