@import "./variables";

.footer {
  background: $lower-header-bg;
  color: white;
  font-size: 0.9rem;
  padding: 1rem;
  margin: auto 0 0;
  height: fit-content;
  position: relative;
  width: 100%;

  a {
    color: $link-color-alt;
    &:hover,
    &:active {
      color: lighten($color: $link-color-alt, $amount: 10%);
    }
    &:visited {
      color: lighten($color: $primary, $amount: 40%);
    }
  }
  ul.unstyle,
  ol.unstyle {
    list-style: none;
    margin: 1rem 0 0;
    padding: 0;
  }
}
