.front-tile-img {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 30vw auto;
  background-clip: content-box;
  width: 30vw;
  max-height: 100vh;
  overflow: hidden;
}

.tile-img {
  width: 20vw;
}
