@import "./variables";

.author-link {
  color: currentColor;
  &:hover,
  &:active {
    color: #edfd07;
    text-decoration: none;
  }
}

.toc-links {
  font-weight: 600;
  font-size: .9rem;
  color: $color-fair;
  &:hover,
  &:active {
    color: rgb(34, 139, 236);
    text-decoration: none;
  }
}

.post-content {
  min-height: 100%;
  width: 100%;

  .post-presentation {
    background-color: $primary;
    .presenter {
      .presents {
        color: $color-alt-2;
        padding: 1rem;

        h1 {
          color: #ffffff;
        }
      }
      .presenter-image {
        min-width: 350px;
        max-width: 500px;
        width: 450px;
        *background-color: rgba($color: #000000, $alpha: 0.3);
      }
    }
  }
}

