@import "./variables";

.sidebar {
  width: auto;
  max-height: calc(100vh - 60px);
  padding: 0;
  overflow-y: hidden;
  background-color: #eee;
  @supports (position: sticky) {
    position: sticky;
    top: 47px;
  }

  .sidebar-header {
    background-color: $color-bright;
    box-shadow: 0 5px 15px $border-color;
    width: 100%;
    padding: 0.6em 1em;
    @supports (position: sticky) {
      position: sticky;
      top: -47px;
      z-index: 10;
    }
  }

  .aside-main {
    padding: 2em 1em;
    overflow-y: auto;
    height: 95%;

    & > div {
      margin: auto;
    }

    &::-webkit-scrollbar {
      width: 10px !important;
    }

    &::-webkit-scrollbar-button {
      visibility: hidden !important;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent !important;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #a5a5a5 !important;
      border-radius: 50px !important;
    }
  }
}
